<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>
    <% @destination_forecast.each do |forecast| %>
      <p class="weekday">Weekday: <%= forecast.weekday %></p> 
      <p class="date">date: <%= forecast.date %></p> 
      <p class="high">high: <%= forecast.high %></p> 
      <p class="low">low: <%= forecast.low %></p> 
      <p class="conditions">conditions: <%= forecast.conditions %></p> 
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
